/*
  PART 2 — CSS
  ============
  Write all of your styles here under each task.
  Open index.html in a browser to check your work.

  Answer EXPLAIN prompts as CSS comments directly below the relevant rule.
*/


/*
  TASK A
  Using the body TAG selector, set a background color on the page.
*/

body {
  background-color: rgb(19, 99, 249);
  align-items: center;
}

/*
  TASK B
  Using the h1 TAG selector, set a font size and a color.
*/
h1 {
  font-size: 35px;
  color: black;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

/*
  TASK C
  Using the CLASS selector, style the list items with the highlight class.
  Give them a background color and some padding so they stand out.
*/
.highlight {
  background-color: rgb(255, 255, 98);
  padding: 4px;
  width: 70px;
  height: fit-content;

}

/*
  TASK D
  Using the ID selector, give the h2 with the id section-title a color that is
  different from the h1 and different from body text.
*/
#section-title {
  color: rgb(7, 7, 98);
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

/*
  TASK E
  Give the div with the box id all five of the following — each as a separate property:
    - a width
    - a height
    - a border
    - a padding
    - a margin

  EXPLAIN: What is the difference between padding and margin?
           Write your answer as a comment below this rule.
                padding is inside which creates space between text and the elememts border
                margin is outside around an elements border. which pushes over elements away
           answer:
*/
#box {
  width: 500px;
  height: 40px;
  border: solid;
  border-color: yellow;
  padding: 5px;
  margin: 50px;
  white-space: nowrap;
  font-size: 40px;
  display: block;
  border-radius: 5px;
  align-items: center;

}

/*
  TASK F
  Style the button with the click-me id so it looks like a real button.
  It must have a background color, a text color, a border, padding,
  and a cursor: pointer that turns into a pointer when the user hovers over it.
*/
#click-me {
  column-rule: center;
  border-radius: 8px;
  flex-direction: column;
  padding: 20px;
  font-size: 1.2rem;
  margin: 0 auto;
  display: block;
  background-color: antiquewhite;
  border: 3px;
  border-color: brown;
}

/*
  TASK G — Specificity
  Write two rules that BOTH set the color of the paragraph with the id intro
    - One rule using the p tag selector
    - One rule using the id selector
  Set them to two different colors.

  Open the browser. Observe which color actually shows up.

  EXPLAIN: Which rule won? Why?
           What is CSS specificity and how does it determine which rule wins?
           Write your answer as a comment below these two rules.

           answer:
*/
#intro {
  color: white;
  font-size: 25px;
  
  display: flex;
  text-align: center;
  align-items: center;
}
p {
  color: rgb(101, 21, 21);
  font-size: 20px;
}